

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title pull-left"><strong>Sign Up!!! </strong></h3>
        
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <form name="registrationForm" novalidate>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">First Name</label>
                <input type="text" class="form-control" name="firstName" ng-model="user.FirstName" required placeholder="First Name" />
                <p class="help-block" ng-if="registrationForm.firstName.$error.required">The first name is required</p>
            </div>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">Last Name</label>
                <input type="text" class="form-control" name="lastName" ng-model="user.LastName" required placeholder="Last Name" />
                <p class="help-block" ng-if="registrationForm.lastName.$error.required">The last name is required</p>
            </div>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">Email</label>
                <input type="email" class="form-control" name="email" ng-model="user.Email" required placeholder="Email" />
                <p class="help-block" ng-if="registrationForm.email.$error.required">The user's email is required</p>
                <p class="help-block" ng-if="registrationForm.email.$error.email">The email address is invalid</p>
            </div>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">Birth date</label>
                <input type="date" class="form-control" name="birthDate" uib-datepicker-popup ng-model="user.BirthDate" is-open="status.opened" min-date="minDate" max-date="maxDate"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            </div>

            <div class="form-group">
                <label class="control-label hidden-sm hidden-xs">City</label>

                <angucomplete id="ex1" placeholder="Search countries" pause="100" selectedobject="selectedCity" 
                              localdata="cities" searchfields="Title" titlefield="Title" minlength="1" 
                              inputclass="form-control form-control-small" matchclass="highlight" />

            </div>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">User Name</label>
                <input type="text" class="form-control" name="userName" ng-model="user.UserName" required placeholder="User Name" />
                <p class="help-block" ng-if="registrationForm.userName.$error.required">The user's name is required</p>
            </div>

            <div class="form-group" show-errors="{showSuccess:true}">
                <label class="control-label hidden-sm hidden-xs">Password</label>
                <input type="password" class="form-control" name="password" ng-model="user.Password" required placeholder="Password" />
                <p class="help-block" ng-if="registrationForm.password.$error.required">Password  is required</p>
            </div>
            

            <button class="btn btn-primary" ng-click="save()">Add User</button>
            <button class="btn btn-link" ng-click="reset()">Reset</button>
        </form>
    </div>
</div>
